<div class="header-banner">
  {{headerTitle}}
</div>
<h1>Services</h1>
<div class="grid-container">
  <span class="col"><img src="../../assets/DogWalking.jpg"></span>
  <span class="col"><b>Dog Sit</b> Daily walking of your dog while you are away</span>
  <span class="col">$20.00/per day</span>

  <span class="col"><img src="../../assets/petHotel.jpg"></span>
  <span class="col"><b>Pet Hotel</b> Host your pet while you are on vacation</span>
  <span class="col">$50.00/per day</span>
</div>

<h1>Orders</h1>
