.header-banner {
  background-image: url("../../assets/seafood1200px.jpg");
  height: 100px;
  text-align: center;
  vertical-align: central;
  font-size: 70pt;
  color: aquamarine;
}

.grid-container
{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.two
{
  grid-template-columns: 200px 200px;
}

.three
{
  grid-template-columns: 300px auto 70px;
}

.four
{
  grid-template-columns: 300px auto auto auto;
}

.col
{
  padding: .4em 1.3em;
}

.numeric
{
  text-align: right;
}

.products
{

}

.orders
{
  background: azure;
}

.vendors
{
  background: beige;
}
